.columns > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
  flex: 1;
  display: flex;
}

.columns > div > .columns-img-col img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns > div > .columns-img-col {
    flex: 1;
  }

  .columns > div > .columns-img-col img {
    height: 100%;
  }
}

/* banner */
.section.banner {
  background-color: var(--theme-color);
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 8px solid #fac705;
}

.section.banner {
  color: var(--white-color);
}

.section.banner .columns h1 {
  margin: 0;
  font-size: 52px;
  line-height: 52px;
}

.section.banner .columns p {
  font-size: 18px;
}

.section.banner .columns .columns-img-col {
  position: relative;
  display: inline-block;
}

.section.banner .columns .columns-img-col picture {
  display: block;
  height: 100%;
}

.section.banner .columns .columns-img-col img {
  min-height: 350px;
}

.section.banner .columns .columns-img-col::before,
.section.banner .columns .columns-img-col::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20%;
  z-index: 2;
}

.section.banner .columns .columns-img-col::before {
  left: 0;
  background: linear-gradient(to right, #12395b 0%, rgba(18, 57, 91, 0.9) 30%, rgba(18, 57, 91, 0) 100%);
}

.section.banner .columns .columns-img-col::after {
  right: 0;
  background: linear-gradient(to left, #12395b 0%, rgb(18 57 91 / 88%) 10%, rgba(18, 57, 91, 0) 100%);
}

@media (width <= 900px) {
  .section.banner .columns h1 {
    font-size: 42px;
    line-height: 38px;
  }

  .section.banner .columns p {
    font-size: 16px;
    line-height: 28px;
  }

  .section.banner .columns .columns-img-col img {
    min-height: unset;
  }

  .section.banner .columns > div > div:not(.columns-img-col) {
    padding: 1.5rem 0 2.5rem;
  }
}